/*CSS*/
body{
	background:grey;
	font-size: 1.7vw;
	font-size: 1.7vh;
}
.body{
	cursor:default;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.collect{
	/*border-top: 2px solid #000;
	border-left: 2px solid #000;
	border-right: 2px solid #000;*/
	height: 70%;
	width: 60%;
	margin-top: 1%;
	padding: 0.2%;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}
.box{
	border-top: 2px solid #000;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	height: 500px;
	width: 98%;
	background:white;
	border-top-left-radius:10px;
	margin-top: 1%;
	padding: 1%;
	overflow: scroll;
	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
.main{
	width:100%;
}
.timeTable{
	width:7%;
}
.nameTable{
	width: 10%;
	margin: 0%;
}
.inputTable{
	width:62%;
}
.sendTable{
	width:10%;
}
.soundCheckTable{
	width: 10%;
	font-size: 0.6vh;
	font-size: 0.6vw;
}
.time{
	width: 100%;
	background-color: white;
	padding:1%;
	margin-left:1%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.82vh;
	font-size: 0.82vw;
}
.box > a{
	color:#0099FF;
	text-decoration:none;
}
.input{
	border: 2px solid #000;
	height: 30px;
	width: 100%;
	margin-top: 0px;
	padding-top:0px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}
.nameBox{
	width: 98%;
	height: 20px;
	border: 1px solid black;
	padding-left: 2px;
	background-color: #F0F0F0;
}
.nameBox:focus{
	width: 98%;
	height: 20px;
	border: 1px solid black;
	padding-left: 2px;
	background-color: #F0F0F0;
	outline-color: red;
}
.inputBox{
	width: 99.5%;
	height: 20px;
	border: 1px solid black;
	padding-left: 2px;
	background-color: #F0F0F0;
}
.inputBox:focus{
	width: 99.5%;
	height: 20px;
	border: 1px solid black;
	padding-left: 2px;
	background-color: #F0F0F0;
	outline-color: red;
}
.inputButton{
	height: 24px;
	border: 1px solid black;
	width: 100%;
	background-color: #3399FF;
	color: white;
	outline-color: transparent;
	outline-style: none;
}
.inputButton:active{
	height: 22px;
	border: 1px solid black;
	width: 99%;
	background-color: #2E8AE6;
	color: white;
	outline-color: transparent;
	outline-style: none;
}
.disabledButton{
	background-color: #FF8080;
	color: white;
}
.options{
	font-family: Arial, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}
.colourTd{
	width: 7%;
	padding: 1%;
}
.styleTd{
	width: auto;
	padding: 1%;
}
.black{
	padding: 10px;
	color: white;
	background-color: black;
	width: 100%;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.red{
	padding: 10px;
	color: black;
	background-color: red;
	width: 100%;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.green{
	padding: 10px;
	color: black;
	background-color: green;
	width: 100%;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.blue{
	padding: 10px;
	color: white;
	background-color: blue;
	width: 100%;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.purple{
	padding: 10px;
	color: white;
	background-color: purple;
	width: 100%;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.orange{
	padding: 10px;
	color: black;
	background-color: orange;
	width: 100%;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.cyan{
	padding: 10px;
	color: black;
	background-color: cyan;
	width: 100%;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.normal{
	padding: 10px;
	color: black;
	background-color: white;
	width: 100%;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.bold{
	padding: 10px;
	color: black;
	background-color: white;
	width: 100%;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.italic{
	padding: 10px;
	color: auto;
	background-color: white;
	width: 100%;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.underline{
	padding: 10px;
	color: black;
	background-color: white;
	width: 100%;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}