/*CSS*/
body{
	background:grey;
	font-size: 100%;
}
.body{
	cursor:default;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.box{
	border-top: 2px solid #000;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	height: 500px;
	width: 60%;
	background:white;
	border-top-left-radius:10px;
	margin-top: 30px;
	padding: 5px;
	overflow: scroll;
	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
.time{
	width: 100px;
	background-color: white;
	padding:2px;
	padding-bottom:4px;
	margin-left:2px;
	font-family: Arial, Helvetica, sans-serif;
}
.box > a{
	color:#0099FF;
	text-decoration:none;
}
.input{
	border: 2px solid #000;
	height: 25px;
	width: 60.5%;
	margin-top: 0px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}
.nameBox{
	width: 13%;
	height: 19px;
}
.inputBox{
	width: 68%;
	height: 19px;
}
.inputButton{
	height: 25px;
	width: 9.5%;
}
table{
	font-family: Arial, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}
.black{
	padding: 10px;
	color: white;
	background-color: black;
	width: 50px;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.red{
	padding: 10px;
	color: black;
	background-color: red;
	width: 50px;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.green{
	padding: 10px;
	color: black;
	background-color: green;
	width: 50px;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.blue{
	padding: 10px;
	color: white;
	background-color: blue;
	width: 50px;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.purple{
	padding: 10px;
	color: white;
	background-color: purple;
	width: 50px;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.orange{
	padding: 10px;
	color: black;
	background-color: orange;
	width: 50px;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.cyan{
	padding: 10px;
	color: black;
	background-color: cyan;
	width: 50px;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.normal{
	padding: 10px;
	color: black;
	background-color: white;
	width: auto;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.bold{
	padding: 10px;
	color: black;
	background-color: white;
	width: auto;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.italic{
	padding: 10px;
	color: auto;
	background-color: white;
	width: auto;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}
.underline{
	padding: 10px;
	color: black;
	background-color: white;
	width: auto;
	text-align: center;
	border-radius:5px;
	border: 1px solid #000;
	cursor:pointer;
	-webkit-user-selection:none;
	-moz-user-selection:none;
	-ms-user-selection:none;
	-o-user-selection:none;
	user-selection:none;
}